Language: Cpp
Standard: c++17
BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
ReflowComments: false

PointerAlignment: Right
DerivePointerAlignment: false

AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: false

PenaltyReturnTypeOnItsOwnLine: 1000000
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None

AlwaysBreakTemplateDeclarations: Yes

BinPackArguments: false
BinPackParameters: false

BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: Never

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true

SortIncludes: false
IncludeBlocks: Preserve

IndentCaseLabels: true
IndentPPDirectives: None

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
